textarea, 
input[type]:not([type=button]):not([type=search]),select {
    background-color:transparent;
    outline: none;
    @include Mobile{
        font-size: 1.3rem;
    }
    @include green1366{
        font-size: 1.3rem;
    }
    &::placeholder{
         /* Firefox */
         background-color:transparent;
         color: $black;
         font-weight: 700;
        @include Mobile{
            font-size: 1rem;
        }
        @include green1366{
            font-size: 1.3rem;
        }
    }
    &:-ms-input-placeholder{ /* Internet Explorer 10-11 */
        background-color:transparent;
    }
    &::-ms-input-placeholder { /* Microsoft Edge */
        background-color:transparent;
    }
}

