:root {
  --column: 12;
  --padding-col: 0 1.5rem;
}

$color-y: #fdc822;
$color-f: #fff;
$color-4: #444444;
$color-3: #333333;
$black: #231f20;
$color-94: #949494;
$font-fam: "MMC";
$color: #e62112;
$bg: #bb060d;
$white: #fff;
$color-primary: #ec2028;
$bg-loading: #ffef00;
