.header {
  &-pc {
    @include tableMobile {
      display: none;
    }
    .menu {
      li {
        margin-bottom: 2rem;
        &:last-child {
          margin-bottom: 0;
        }
        a {
          display: flex;
          align-items: center;
          text-decoration: none;
          color: $black;
          font-size: 1.6rem;
          span {
            width: 12rem;
            text-align: right;
            margin-right: 2rem;
            line-height: 2.3rem;
            font-weight: bold;
          }
        }
      }
    }
  }
}
